* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 20px;
}

.two-columns {
    display: flex;
}

p {
    margin: 0 0 20px;
}

.two-columns .col{
    display: flex;
    flex-direction: column;
    background: green;
    margin: 15px;
    padding: 30px;
}  

.gallery {
    flex-flow: row wrap;
    display: flex;
}

.gallery .img {
    flex: 1 0 18%;
    height: 50px;
    background-color: rgba(4, 108, 0, 0.867);
    margin: 10px;
}

