* {
    margin: 0;
    padding: 0;
}

.content-box {
    box-sizing: padding-box;
    background-color: white;
    width: 30%;
    height: 300px;
    padding: 3.3px;    
    float: left;
}


.box {
    background-color: red;
    width: 100%;
    height: 100%;
}

@media (max-width: 540px) {
    .content-box {
        width: 100%;
    }    
}

@media (min-width: 540px) and (max-width: 760px) {
    .content-box {
        width: 47%;
    }    
}

@media (min-width: 760px) and (max-width: 1080px) {
    .content-box {
        width: 30%;
    }    
}

@media (min-width: 760px) and (max-width: 1080px) {
    .content-box {
        width: 22%;
    }    
}