* {
    margin: 0;
    padding: 0;
}

div {
    color: initial;
    margin-left: 30px;
    font-size: 40px;
}

div.pai {
    margin-top: 25px;
}

div.pai > span.filha > div.neta {
    font-size: 20px;
    color: #5c5c5c;
    margin-left: 40px;
}

div.pai > span.filha {
    font-size: 30px;
    color: #2c2c2c;
}

.pai h2+p {
    color: #c62020
;}